* {
	font-family: sans-serif;
}

.card {
	max-width: 30%;
	margin-right: 0;
	display: inline-block;
	margin: 1.3%;
	border: 1px solid lightblue;
}
p {
	text-align: justify;
	padding: 0 10px;
}
h1 {
	border: 1px dotted lightgray;
	text-align: center;
	margin-top: 0;
	padding:10px;
}

.ava {
	background-color: darkgray;
	color: yellow;
}

img {
	max-height: 214px;
	display: block;
  margin: auto;
}

.specSec {
	margin-top: 16px;
}

.secHead,
.priceHead {
	padding-left: 10px;
}
.specs,
.quant {
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 20px;
}

footer {
	font-size: 0.5em;
}









