
/*body {
	display: inline-flex;
}*/
.card {
	max-width: 30%;
	margin-right: 0;
	display: inline-block;
	margin: 1.3%;
	border: 1px solid lightblue;
}
p {
	text-align: justify;
}
h1 {
	border: 1px dotted lightgray;
	text-align: center;
	margin-top: 0;
	padding:10px;
}

.ava {
	background-color: darkgray;
	color: yellow;
}

img {
	max-height: 214px;
	display: block;
  margin: auto;
}

